<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button *ngIf="back" (click)="goBack($event)">
        <ion-icon name="chevron-back-outline" color="dark" size="large"></ion-icon>
      </ion-button>
      <ion-button *ngIf="menu" (click)="openMenu($event)">
        <img src="/assets/icon/app/menu.svg" alt="menu">
      </ion-button>

      <!-- Este es para rellenar el espacio -->
      <ion-button *ngIf="!back && !menu" disabled>
        <ion-icon name="notifications-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-font" color="dark">
      <span *ngIf="title">{{title}}</span>
      <div *ngIf="!title" class="client-selector">
        <ion-button (click)="openClientsModal()" fill="clear" color="dark">
          <div class="client-selector-content title-font">
            <span>{{client.name}}</span>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </div>
        </ion-button>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <!-- En caso de mostrar el botón de notificaciones -->
      <ion-button *ngIf="notifications" (click)="openNotifications($event)">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
      <!-- En caso de mostrar el botón de añadir -->
      <ion-button *ngIf="add && onAdd!=undefined" (click)="onAdd($event)">
        <ion-icon name="add" color="dark" size="large"></ion-icon>
      </ion-button>
      <!-- Este es para rellenar el espacio -->
      <ion-button *ngIf="!notifications && !add" disabled>
        <ion-icon name="notifications-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
